<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
<head> 
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
  <title>Tealist</title> 
</head>
<body>

<h1>Tealist</h1>

<div id="flash">
  <% flash.each do |key, value| -%>
  <div id="flash_<%= key %>"><%=h value %></div>
  <% end -%>
</div>

<div id="main">
<%= yield %>
</div>

</body>
</html>

